<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tmoonlight.rchat.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="tmoonlight.rchat.model.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="CardNo" jdbcType="NVARCHAR" property="cardno" />
    <result column="Descriot" jdbcType="NVARCHAR" property="descriot" />
    <result column="CtfTp" jdbcType="NVARCHAR" property="ctftp" />
    <result column="CtfId" jdbcType="NVARCHAR" property="ctfid" />
    <result column="Gender" jdbcType="NVARCHAR" property="gender" />
    <result column="Birthday" jdbcType="NVARCHAR" property="birthday" />
    <result column="Address" jdbcType="NVARCHAR" property="address" />
    <result column="Zip" jdbcType="NVARCHAR" property="zip" />
    <result column="Dirty" jdbcType="NVARCHAR" property="dirty" />
    <result column="District1" jdbcType="NVARCHAR" property="district1" />
    <result column="District2" jdbcType="NVARCHAR" property="district2" />
    <result column="District3" jdbcType="NVARCHAR" property="district3" />
    <result column="District4" jdbcType="NVARCHAR" property="district4" />
    <result column="District5" jdbcType="NVARCHAR" property="district5" />
    <result column="District6" jdbcType="NVARCHAR" property="district6" />
    <result column="FirstNm" jdbcType="NVARCHAR" property="firstnm" />
    <result column="LastNm" jdbcType="NVARCHAR" property="lastnm" />
    <result column="Duty" jdbcType="NVARCHAR" property="duty" />
    <result column="Mobile" jdbcType="NVARCHAR" property="mobile" />
    <result column="Tel" jdbcType="NVARCHAR" property="tel" />
    <result column="Fax" jdbcType="NVARCHAR" property="fax" />
    <result column="EMail" jdbcType="NVARCHAR" property="email" />
    <result column="Nation" jdbcType="NVARCHAR" property="nation" />
    <result column="Taste" jdbcType="NVARCHAR" property="taste" />
    <result column="Education" jdbcType="NVARCHAR" property="education" />
    <result column="Company" jdbcType="NVARCHAR" property="company" />
    <result column="CTel" jdbcType="NVARCHAR" property="ctel" />
    <result column="CAddress" jdbcType="NVARCHAR" property="caddress" />
    <result column="CZip" jdbcType="NVARCHAR" property="czip" />
    <result column="Family" jdbcType="NVARCHAR" property="family" />
    <result column="Version" jdbcType="NVARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, Name, CardNo, Descriot, CtfTp, CtfId, Gender, Birthday, Address, Zip, Dirty, 
    District1, District2, District3, District4, District5, District6, FirstNm, LastNm, 
    Duty, Mobile, Tel, Fax, EMail, Nation, Taste, Education, Company, CTel, CAddress, 
    CZip, Family, Version
  </sql>
  <insert id="insertSelective" parameterType="tmoonlight.rchat.model.Customer">
    insert into crm_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="cardno != null">
        CardNo,
      </if>
      <if test="descriot != null">
        Descriot,
      </if>
      <if test="ctftp != null">
        CtfTp,
      </if>
      <if test="ctfid != null">
        CtfId,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="birthday != null">
        Birthday,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="zip != null">
        Zip,
      </if>
      <if test="dirty != null">
        Dirty,
      </if>
      <if test="district1 != null">
        District1,
      </if>
      <if test="district2 != null">
        District2,
      </if>
      <if test="district3 != null">
        District3,
      </if>
      <if test="district4 != null">
        District4,
      </if>
      <if test="district5 != null">
        District5,
      </if>
      <if test="district6 != null">
        District6,
      </if>
      <if test="firstnm != null">
        FirstNm,
      </if>
      <if test="lastnm != null">
        LastNm,
      </if>
      <if test="duty != null">
        Duty,
      </if>
      <if test="mobile != null">
        Mobile,
      </if>
      <if test="tel != null">
        Tel,
      </if>
      <if test="fax != null">
        Fax,
      </if>
      <if test="email != null">
        EMail,
      </if>
      <if test="nation != null">
        Nation,
      </if>
      <if test="taste != null">
        Taste,
      </if>
      <if test="education != null">
        Education,
      </if>
      <if test="company != null">
        Company,
      </if>
      <if test="ctel != null">
        CTel,
      </if>
      <if test="caddress != null">
        CAddress,
      </if>
      <if test="czip != null">
        CZip,
      </if>
      <if test="family != null">
        Family,
      </if>
      <if test="version != null">
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="cardno != null">
        #{cardno,jdbcType=NVARCHAR},
      </if>
      <if test="descriot != null">
        #{descriot,jdbcType=NVARCHAR},
      </if>
      <if test="ctftp != null">
        #{ctftp,jdbcType=NVARCHAR},
      </if>
      <if test="ctfid != null">
        #{ctfid,jdbcType=NVARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=NVARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=NVARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=NVARCHAR},
      </if>
      <if test="dirty != null">
        #{dirty,jdbcType=NVARCHAR},
      </if>
      <if test="district1 != null">
        #{district1,jdbcType=NVARCHAR},
      </if>
      <if test="district2 != null">
        #{district2,jdbcType=NVARCHAR},
      </if>
      <if test="district3 != null">
        #{district3,jdbcType=NVARCHAR},
      </if>
      <if test="district4 != null">
        #{district4,jdbcType=NVARCHAR},
      </if>
      <if test="district5 != null">
        #{district5,jdbcType=NVARCHAR},
      </if>
      <if test="district6 != null">
        #{district6,jdbcType=NVARCHAR},
      </if>
      <if test="firstnm != null">
        #{firstnm,jdbcType=NVARCHAR},
      </if>
      <if test="lastnm != null">
        #{lastnm,jdbcType=NVARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=NVARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=NVARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=NVARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=NVARCHAR},
      </if>
      <if test="taste != null">
        #{taste,jdbcType=NVARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=NVARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=NVARCHAR},
      </if>
      <if test="ctel != null">
        #{ctel,jdbcType=NVARCHAR},
      </if>
      <if test="caddress != null">
        #{caddress,jdbcType=NVARCHAR},
      </if>
      <if test="czip != null">
        #{czip,jdbcType=NVARCHAR},
      </if>
      <if test="family != null">
        #{family,jdbcType=NVARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tmoonlight.rchat.model.Customer">
    update crm_customer
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="cardno != null">
        CardNo = #{cardno,jdbcType=NVARCHAR},
      </if>
      <if test="descriot != null">
        Descriot = #{descriot,jdbcType=NVARCHAR},
      </if>
      <if test="ctftp != null">
        CtfTp = #{ctftp,jdbcType=NVARCHAR},
      </if>
      <if test="ctfid != null">
        CtfId = #{ctfid,jdbcType=NVARCHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=NVARCHAR},
      </if>
      <if test="birthday != null">
        Birthday = #{birthday,jdbcType=NVARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=NVARCHAR},
      </if>
      <if test="zip != null">
        Zip = #{zip,jdbcType=NVARCHAR},
      </if>
      <if test="dirty != null">
        Dirty = #{dirty,jdbcType=NVARCHAR},
      </if>
      <if test="district1 != null">
        District1 = #{district1,jdbcType=NVARCHAR},
      </if>
      <if test="district2 != null">
        District2 = #{district2,jdbcType=NVARCHAR},
      </if>
      <if test="district3 != null">
        District3 = #{district3,jdbcType=NVARCHAR},
      </if>
      <if test="district4 != null">
        District4 = #{district4,jdbcType=NVARCHAR},
      </if>
      <if test="district5 != null">
        District5 = #{district5,jdbcType=NVARCHAR},
      </if>
      <if test="district6 != null">
        District6 = #{district6,jdbcType=NVARCHAR},
      </if>
      <if test="firstnm != null">
        FirstNm = #{firstnm,jdbcType=NVARCHAR},
      </if>
      <if test="lastnm != null">
        LastNm = #{lastnm,jdbcType=NVARCHAR},
      </if>
      <if test="duty != null">
        Duty = #{duty,jdbcType=NVARCHAR},
      </if>
      <if test="mobile != null">
        Mobile = #{mobile,jdbcType=NVARCHAR},
      </if>
      <if test="tel != null">
        Tel = #{tel,jdbcType=NVARCHAR},
      </if>
      <if test="fax != null">
        Fax = #{fax,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        EMail = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="nation != null">
        Nation = #{nation,jdbcType=NVARCHAR},
      </if>
      <if test="taste != null">
        Taste = #{taste,jdbcType=NVARCHAR},
      </if>
      <if test="education != null">
        Education = #{education,jdbcType=NVARCHAR},
      </if>
      <if test="company != null">
        Company = #{company,jdbcType=NVARCHAR},
      </if>
      <if test="ctel != null">
        CTel = #{ctel,jdbcType=NVARCHAR},
      </if>
      <if test="caddress != null">
        CAddress = #{caddress,jdbcType=NVARCHAR},
      </if>
      <if test="czip != null">
        CZip = #{czip,jdbcType=NVARCHAR},
      </if>
      <if test="family != null">
        Family = #{family,jdbcType=NVARCHAR},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>